.header {
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color: rgb(181, 223, 212);
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header__burger-link {
    display: flex;
    align-items: center;
}

.header__nav {
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        li {
            &:hover,
            &:active {
            color: #7EB693;
            }

            &:last-child {
            margin-left: 20px;
            }   
        }
    }
}


.header__btn {
    background-color: rgb(92, 153, 149);
    padding: 7px 30px 7px 11px;
    border-radius: 33px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: all .3s;

    
    
}
.header__icon {
    display: flex;
    align-items: center;
    background-color: #274C5B;
    border-radius: 100px;
    padding: 11px;
}

.header__btn-text {
    display: flex;
    gap: 8px;

    p {
        font-family: 'Roboto';
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 0.36px;
        color: #0c232c;
    }
}

.header__burger {
    display: none;
}

@media (max-width: 992px) {
    .header__nav ul li:last-child {
        margin-left: 0px;
    }
    .header__nav ul{
        gap: 25px;
    }
    .header {
        padding: 10px 0;
        top: 0;
    }
    .header__burger {
        display: block;
        position: relative;
        z-index: 60;
        width: 30px;
        height: 20px;

        span {
            position: absolute;
            height: 1px;
            width: 100%;
            left: 0;
            background:#274C5B;
            transition: all 0.3s ease 0s;

            &:nth-child(1) {
                top: 0;
            }
            &:nth-child(2) {
                top: 10px;
            }
            &:nth-child(3) {
                top: 10px;
            }
            &:nth-child(4) {
                top: 20px;
            }
        }
    }

    .header__burger.active span {
       
        &:nth-child(1) {
            transform: scaleX(0);
        }
        &:nth-child(2) {
            transform: rotate(45deg);
        }
        &:nth-child(3){
            transform: rotate(-45deg);
        }
        &:nth-child(4){
            transform: scaleX(0);
        }
    } 
    // .header__nav {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     right: 0;
    //     bottom: 81vh;
    //     background-color: #EFD372;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     transform: translateY(-100%);
    //     transition: .3s ease;
    //     z-index: 50;
    // }
    .header__nav {
        position: absolute;
        left: 0;
        top: -153%;
        right: 0;
    
        background-color: rgb(181, 223, 212);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease 0s;
        z-index: 50;
        padding: 20px 20px;
     }

    .header__nav.active {
        // transform: translateY(0);
        top: 0;
    }    
}

@media (max-width: 768px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .header__btn {
        padding: 5px 10px 5px 10px; 
        gap: 6px;
    }

    .header__btn-text p {
        font-size: 15px;
    }
    .header__icon {
        padding: 8px;
        
        img {
            display: block;
            width: 13px;
            height: 12px;
        }
    }

    .header__logo {
        width: 144px;
        height: 40px;
    }

    .header__nav {
        padding: 15px 15px;
    } 
}

@media (max-width: 576px){

    .header__nav {
        padding: 10px 10px;
    }
    .header__nav.active {
        ul{
            flex-direction: column;
            gap: 5px;

            li {
                font-size: 17px;
                line-height: 25px;
            }
        }
    }
    .header__btn {
        position: relative;
        z-index: 55;
        background: #274C5B;
        border: none;
        padding: 5px 6px 5px 6px; 
        gap: 4px;
        
        p {
            color: white;
            display: none;
        }   
    }

    .header__logo {
        width: 120px;
        height: 33px;
    }

    .header__icon {
        background: #274C5B;

        img {
            width: 16px;
            height: 16px;
        }
    }
}
    


