.trio {
    background: #EFF6F1;
    padding: 140px 0;
}

.trio__inner {
    width: 1470px;
    padding: 0 15px;
    margin: 0 auto;
}

.trio__items {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.trio__item-first {
    background-image: url(../images/juice.png);
    background-size: cover;
    background-position: center;
    padding: 240px 72px;
    width: 460px;
}

.trio__item-second {
    background-image: url(../images/organic.png);
    background-size: cover;
    background-position: center;
    padding: 240px 72px;
    width: 460px;
}

.trio__item-third {
    background-image: url(../images/cookies.png);
    background-size: cover;
    background-position: center;
    padding: 240px 72px;
    width: 460px;
}

.trio__btn {
    background: white;
    border-radius: 20px;
    border: none;
    padding: 30px 79px;
    cursor: pointer;
    width: 313px;
    height: 95px;
    text-align: center;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.36px;
    color: #274C5B;

}